<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cy.dingcan.dao.OrderDao">
	<!-- <resultMap type="com.cy.dingcan.entity.Orders" id="order">
		<result property="id" column="id"/>
		<result property="shopId" column="shop_id"/>
		<result property="userId" column="user_id"/>
		<result property="statu" column="statu"/>
		<result property="createTime" column="create_time"/>
		<result property="payTime" column="pay_time"/>
		<result property="price" column="price"/>
		<result property="contactName" column="contact_name"/>
		<result property="contactTell" column="conract_tell"/>
		<result property="contactAddr" column="contact_addr"/>
	</resultMap> -->
	<resultMap type="com.cy.dingcan.vo.OrderFindVo" id="orderVo">
		<result property="id" column="id"/>
		<result property="statu" column="statu"/>
		<result property="createTime" column="create_time"/>
		<result property="payTime" column="pay_time"/>
		<result property="price" column="price"/>
		<result property="contactName" column="contact_name"/>
		<result property="contactTell" column="contact_tell"/>
		<result property="contactAddr" column="contact_addr"/>
		<result property="remarks" column="remarks"/>
		<association property="userName" select="com.cy.dingcan.dao.UserDao.doFindObjectById" column="user_id"/>
		<association property="shopName" select="com.cy.dingcan.dao.ShopDao.doFindById" column="shop_id"/>
		<collection property="goodIds" select="com.cy.dingcan.dao.OrderGoodsDao.findGoodIds" column="id"/>
		<collection property="goods" select="com.cy.dingcan.dao.OrderGoodsDao.findGoodById" column="id"/>
	</resultMap>
	<!-- 根据用户的id查询相应的订单信息 -->
	<select id="findObjectByUserId" resultMap="orderVo">
		select * from t_order 
		<where>
			<if test="id!=null">
				user_id=#{id}
			</if>
		</where>
		limit #{startIndex},#{pageSize}
	</select>
	<!--查询所有不分页-->
	<select id="doFindObjects" resultMap="orderVo">
		select * from t_order
	</select>
	<!-- 根据用户名查询符合商品的数量 -->
	<select id="getRows" resultType="int">
		select count(*) from t_order
		<where>
			<if test="id!=null">
				user_id=#{id}
			</if>
		</where>
	</select>
	<update id="insertObject" useGeneratedKeys="true" keyProperty="id">
		insert into t_order values(null,#{shopId},#{userId},#{statu},#{createTime},#{payTime},#{price},#{contactName},#{contactTell},#{contactAddr})
	</update>
	<update id="deleteObject">
		delete from t_order
		where id=#{id}
	</update>
	<update id="updateObject">
		update t_orders set shop_id=#{shopId},user_id=#{userId},statu=#{statu},create_time=#{createTime},pay_time=#{payTime},
		price=#{price},contact_name=#{contactName},contact_tell=#{contactTell},contact_addr=#{contactAddr},remarks=#{remarks}
		where id=#{id}
	</update>
	<!--这是查询一个的全部信息，是已经将id转化成名字之后的结果-->
	<!--<select id="findObjectById" resultMap="orderVo">
		select * from t_order
		where id=#{id}
	</select>-->
	<select id="findObjectById" resultType="orders">
		select * from t_order
		where id=#{id}
	</select>
</mapper>



























